$background: #204734;

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  width: 600px;
  height: 800px;
  border-radius: 0.5rem;
}
