.navContainer,
.navContainer ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  height: 100%;
  width: 300px;
  display: flex;
  padding-top: 1rem;
}

.routeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.route {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  color: inherit;
  background: var(--background);
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    font-weight: bold;
    margin-left: 10px;
  }

  &:hover::after {
    content: "";
    position: absolute;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    background-image: conic-gradient(
      from var(--angle),
      transparent 70%,
      var(--accent)
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 0.5rem;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
