.inputContainer {
  width: 100%;
}

.roundedInput {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--accent-dark);
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: var(--background-alt);
  transition: all 0.3s ease-in-out;
  outline: none;

  &:focus {
    border-color: var(--accent);
  }
}

.inputLabel {
  position: relative;
  top: -1.65rem;
  left: 0.5rem;
  padding: 0 0.5%;
  font-size: 1rem;
  color: var(--accent-dark);
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: var(--background-alt);

  &.active,
  .roundedInput:focus + & {
    top: -2.9rem;
    font-size: 12px;
  }

  .roundedInput:focus + & {
    color: var(--accent);
  }
}
