.tableWrapper {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--background);
  border: 1px solid var(--unfocused);
  box-sizing: border-box;
}

.tableContainer {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

.header {
  text-align: left;
  padding: 1rem;
}

.row {
  padding: 0 1rem;
  border-top: 2px solid var(--background-alt);
  transition: 300ms all;

  &:hover {
    background-color: var(--background-alt2);
    cursor: pointer;
  }
}

.rowElement {
  padding: 1rem;
}

.badgeContainer,
.choiceContainer,
.statusContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badge,
.status {
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 0.9rem;
  align-self: center;
}

.choice {
  border-radius: 0.25rem;
  border: 1px solid white;
  padding: 0.25rem 1.25rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.text {
  font-weight: 600;
}
