$input-background: #e0dede;
$label-background: #0a0a0a;
$unfocused: #2a6b4a;
$focused: #42a570;

.inputContainer {
  width: 100%;
  margin-bottom: 3%;
}

.roundedInput {
  width: 100%;
  padding: 8px;
  border: 2px solid $unfocused;
  border-radius: 5px;
  font-size: 16px;
  background-color: $label-background;
  transition: border-color 0.3s ease-in-out;
  outline: none;

  &.active,
  &:focus {
    border-color: $focused;
  }
}

.inputLabel {
  position: relative;
  top: -1.65rem;
  left: 7px;
  padding: 0 0.5%;
  font-size: 16px;
  color: $unfocused;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: $label-background;

  &.active,
  .roundedInput:focus + & {
    top: -2.9rem;
    font-size: 12px;
    color: $focused;
  }
}
