.mainContainer {
  width: 98%;
  height: 98%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.0075);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
