.container {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 0;
  border-radius: 0.25rem;
}

.filtersHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.parameterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.addFilter {
  position: relative;
  padding: 0.6rem 0.75rem;
  background-color: var(--background-alt);
  border: 1px solid var(--background);
  border-radius: 0.25rem;
  transition: all 300ms;

  font-weight: bold;

  &:hover {
    border: 1px solid var(--accent);
  }
}

.filterContainer {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  margin-top: 20rem;
}

.filterDisplay {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--background-alt);
  border: 1px solid var(--accent);
}

.parameterSelect {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--accent);
  overflow: hidden;
  background-color: var(--background-alt);
}

.parameterOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  transition: all 300ms;

  &:hover {
    background-color: var(--background);
  }
}

.parameter {
  font-weight: bold;
  padding: 0.75rem 1rem;
}

.selected {
  background-color: var(--background);
}

.filterForm {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--accent);
  padding: 1rem;
  background-color: var(--background-alt);
}

.operatorContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.radio {
  padding: 0;
  margin: 0;
}

.dropdownContainer {
  display: flex;
}
